{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/aboutme.css' %}">
{% endblock %}

{% block title %}Yonathan Gonçalves | {% trans "About Me" %}{% endblock %}

{% block content %}

<div class="container" id="container_aboutme">
    <div id="aboutme_header">
        <h4>{% blocktrans %}About me{% endblocktrans %}</h4>
    </div>
    <div id="aboutme_text">
        
        <p>{% blocktrans %}Hello, I’m Yonathan Gonçalves, a backend developer with a passion for programming. Although I initially
            thought my life's work would be as a physicist, I discovered that my true passion lies in programming and
            solving problems through code.{% endblocktrans %}</p>

        
        <p>{% blocktrans %}Since then, I have dedicated myself to learning and refining my skills in software development, working on
            increasingly challenging projects that allow me to expand my knowledge and abilities. I enjoy tackling
            technical challenges and finding creative solutions.{% endblocktrans %}</p>

        <p>{% blocktrans %}My background in physics has provided me with a unique analytical perspective, which helps me approach
            complex problems and optimize the performance of the systems I work on.{% endblocktrans %}</p>

        <p>{% blocktrans %}In my free time, I enjoy watching football, going to the cinema, hiking, and geocaching. I am always looking
            for new challenges that allow me to grow both personally and professionally.{% endblocktrans %}</p>

        <p>{% blocktrans %}This portfolio is a showcase of my work and the skills I have developed throughout my career. Here, you can
            find {% endblocktrans %}<a href="{% url 'projects' %}">{% blocktrans %}projects{% endblocktrans %}</a>{% blocktrans %} I have worked on, each reflecting my approach to
            problem-solving and my passion for software development.{% endblocktrans %}</p>

    </div>


</div>
<div class="container" id="container_cv">
    {% if language == 'en' %}
        <a href="{% static 'assets/others/CV-Yonathan-Ferreira_en.pdf' %}" target="_blank" class="cv_link" aria-label="Download CV">CV <i class="ri-file-download-line"></i></a>
    {% elif language == 'pt' %}
        <a href="{% static 'assets/others/CV-Yonathan-Ferreira_pt.pdf' %}" target="_blank" class="cv_link" aria-label="Download CV">CV <i class="ri-file-download-line"></i></a>
    {% elif language == 'es' %}
        <a href="{% static 'assets/others/CV-Yonathan-Ferreira_es.pdf' %}" target="_blank" class="cv_link" aria-label="Download CV">CV <i class="ri-file-download-line"></i></a>
    {% elif language == 'fr' %}
        <a href="{% static 'assets/others/CV-Yonathan-Ferreira_fr.pdf' %}" target="_blank" class="cv_link" aria-label="Download CV">CV <i class="ri-file-download-line"></i></a>
    {% endif %}

</div>
<div class="container" id="container_skills">
    <div id="skills_header">
        <h4>{% blocktrans %}Skills{% endblocktrans %}</h4>
    </div>
    <div id="skills_boxes">
        <div id="box1" class="box">
            <h5>{% blocktrans %}Proficient{% endblocktrans %}</h5>
            <div class="skills_box_container">
                <div class="skill">
                    <img src="{% static 'assets/icons/python.svg' %}" alt="Python logo">
                    <h6>Python</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/postgresql.png' %}" alt="PostgreSQL logo">
                    <h6>PostgreSQL</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/html.svg' %}" alt="HTML5 logo">
                    <h6>HTML5</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/css3.svg' %}" alt="CSS3 logo">
                    <h6>CSS3</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/javascript.svg' %}" alt="JavaScript logo">
                    <h6>JavaScript</h6>
                </div>
                <div class="skill">
                    <img class="project_image_change" 
                    src="{% if dark_mode == 'enabled' %}{% static 'assets/icons/django-darkmode.png' %}{% else %}{% static 'assets/icons/django.png' %}{% endif %}" 
                    data-light="{% static 'assets/icons/django.png' %}" 
                    data-dark="{% static 'assets/icons/django-darkmode.png' %}" 
                    alt="Django logo">   
                    <h6>django</h6>
                </div>

            </div>
        </div>
        <div id="box2" class="box">
            <h5>{% blocktrans %}Learning{% endblocktrans %}</h5>
            <div class="skills_box_container">
                <div class="skill">
                    <img class="project_image_change" 
                    src="{% if dark_mode == 'enabled' %}{% static 'assets/icons/drf-darkmode.png' %}{% else %}{% static 'assets/icons/drf.png' %}{% endif %}" 
                    data-light="{% static 'assets/icons/drf.png' %}" 
                    data-dark="{% static 'assets/icons/drf-darkmode.png' %}" 
                    alt="Django REST Framework logo">   
                    <h6>DRF</h6>
                </div>
                <div class="skill">

                    <h6></h6>
                </div>
                <div class="skill">

                    <h6></h6>
                </div>
            </div>
        </div>
        <div id="box3" class="box">
            <h5>{% blocktrans %}Interested{% endblocktrans %}</h5>
            <div class="skills_box_container">
                <div class="skill">
                    <img src="{% static 'assets/icons/postman.svg' %}" alt="Postman logo">
                    <h6>Postman</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/redis.png' %}" alt="Redis logo">
                    <h6>Redis</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/linux.png' %}" alt="Linux logo">
                    <h6>Linux</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/docker.png' %}" alt="Docker logo">
                    <h6>Docker</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/Kubernetes.png' %}" alt="Kubernetes logo">
                    <h6>Kubernetes</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/pytest.png' %}" alt="pytest logo">
                    <h6>pytest</h6>
                </div>
            </div>
        </div>
        <div id="box4" class="box">
            <h5>{% blocktrans %}Tools{% endblocktrans %}</h5>
            <div class="skills_box_container">
                <div class="skill">
                    <img src="{% static 'assets/icons/vsc.png' %}" alt="Visual Studio Code logo">
                    <h6>VSCode</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/dbeaver.png' %}" alt="DBeaver logo">
                    <h6>DBeaver</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/git.svg' %}" alt="Git logo">
                    <h6>Git</h6>
                </div>
                <div class="skill">
                    <img class="project_image_change" 
                    src="{% if dark_mode == 'enabled' %}{% static 'assets/icons/github-darkmode.png' %}{% else %}{% static 'assets/icons/github.png' %}{% endif %}" 
                    data-light="{% static 'assets/icons/github.png' %}" 
                    data-dark="{% static 'assets/icons/github-darkmode.png' %}" 
                    alt="Github logo">   
                    <h6>GitHub</h6>
                </div>
                <div class="skill">
                    <img class="project_image_change" 
                    src="{% if dark_mode == 'enabled' %}{% static 'assets/icons/latex-darkmode.png' %}{% else %}{% static 'assets/icons/latex.png' %}{% endif %}" 
                    data-light="{% static 'assets/icons/latex.png' %}" 
                    data-dark="{% static 'assets/icons/latex-darkmode.png' %}" 
                    alt="LATEX logo">   
                    <h6>LATEX</h6>
                </div>
                <div class="skill">
                    <img src="{% static 'assets/icons/thunder.png' %}" alt="Thunder Client logo">   
                    <h6>Thunder Client</h6>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}