{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta Tags -->
    <meta name="description" content="{% block meta_description %}My web development portfolio showcasing projects and skills.{% endblock %}">
    <meta name="keywords" content="web developer, portfolio, programming, Django, Python, frontend, backend, HTML, CSS, JavaScript">
    <meta name="author" content="Yonathan Gonçalves">

    <!-- Open Graph for social media -->
    <meta property="og:title" content="{% block og_title %}Yonathan Gonçalves - Portfolio{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Explore my web development projects.{% endblock %}">
    <meta property="og:image" content="{% static 'assets/images/portfolio.png' %}">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}Yonathan Gonçalves - Portfolio{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Explore my web development projects.{% endblock %}">
    <meta name="twitter:image" content="{% static 'assets/images/portfolio.png' %}">

    <!--ICONS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}link{% endblock %}

    <script>

        //Darkmode
        if (!localStorage.getItem('darkMode')) {
            localStorage.setItem('darkMode', 'disabled');
        }

        if (localStorage.getItem('darkMode') == 'enabled') {
            document.documentElement.style.setProperty('--title-color', 'hsl(230, 100%, 98%)')
            document.documentElement.style.setProperty('--header-color', 'hsla(228, 97%, 12%, 0.651)')
            document.documentElement.style.setProperty('--text-color', 'hsl(230, 100%, 98%)')
            document.documentElement.style.setProperty('--body-color', 'hsl(230, 75%, 15%)')
            document.documentElement.style.setProperty('--animation-color1', 'rgb(0, 0, 24)')
            document.documentElement.style.setProperty('--animation-color2', 'rgb(5, 1, 43)')
            document.documentElement.style.setProperty('--bluecode-color', '#27d1c6')
        }


        //Language

        window.onload = function() {
            const languageOptions = document.querySelectorAll('.language-option');
            languageOptions.forEach(option => {
                option.addEventListener('click', function () {
                    const langCode = this.getAttribute('data-lang').toLowerCase();
                    changeLanguage(langCode);
                });
            });
        };

        function changeLanguage(langCode) {
            window.location.href = `/change-language/${langCode}/`;
            document.cookie = "language="+langCode+"; path=/; max-age=" + 60 * 60 * 24 * 365;
        }
    </script>
    <!--JSON_LD-->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Person",
          "name": "Yonathan Gonçalves",
          "jobTitle": "Developer",
          "url": "https://yonathangoncalves.com",
          "sameAs": [
            "https://github.com/YonaGonca",
            "https://www.linkedin.com/in/yonathan-goncalves-4715861b8/"
          ],
          "image": "https://yonathangoncalves.com/static/assets/images/portfolio.png",
          "description": "I'm a developer with a deep passion for problem-solving and who finds joy in learning. On this site, you can check out all the projects I've worked on, or learn more about me.",
          "worksFor": {
            "@type": "Organization",
            "name": "Freelancer"
          },
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://yonathangoncalves.com"
          },
          "hasPart": [
            {
              "@type": "Article",
              "headline": "My Portfolio",
              "author": {
                "@type": "Person",
                "name": "Yonathan Gonçalves",
                "url": "https://yonathangoncalves.com"
              },
              "datePublished": "2025-02-25T10:29:00+00:00",
              "dateModified": "2025-02-25T10:29:00+00:00",
              "image": "https://yonathangoncalves.com/static/assets/images/portfolio.webp",
              "url": "https://yonathangoncalves.com/projects/my-portfolio/",
              "publisher": {
                "@type": "Organization",
                "name": "Yonathan Gonçalves"
              }
            },
            {
              "@type": "Article",
              "headline": "Workout Tracker API",
              "author": {
                "@type": "Person",
                "name": "Yonathan Gonçalves",
                "url": "https://yonathangoncalves.com"
              },
              "datePublished": "2025-02-26T20:38:00+00:00",
              "dateModified": "2025-02-26T20:38:00+00:00",
              "image": "https://yonathangoncalves.com/static/assets/images/workout_api.webp",
              "url": "https://yonathangoncalves.com/projects/workout-tracker-api/",
              "publisher": {
                "@type": "Organization",
                "name": "Yonathan Gonçalves"
              }
            },
            {
              "@type": "Article",
              "headline": "Task Tracker CLI",
              "author": {
                "@type": "Person",
                "name": "Yonathan Gonçalves",
                "url": "https://yonathangoncalves.com"
              },
              "datePublished": "2025-02-26T20:44:00+00:00",
              "dateModified": "2025-02-26T20:44:00+00:00",
              "image": "https://yonathangoncalves.com/static/assets/images/task_tracker_cli.webp",
              "url": "https://yonathangoncalves.com/projects/task-tracker-cli/",
              "publisher": {
                "@type": "Organization",
                "name": "Yonathan Gonçalves"
              }
            },
            {
              "@type": "Article",
              "headline": "VIATEL SA - Automation Tool",
              "author": {
                "@type": "Person",
                "name": "Yonathan Gonçalves",
                "url": "https://yonathangoncalves.com"
              },
              "datePublished": "2025-02-26T20:45:00+00:00",
              "dateModified": "2025-02-26T20:45:00+00:00",
              "image": "https://yonathangoncalves.com/static/assets/images/viatel.webp",
              "url": "https://yonathangoncalves.com/projects/viatel-automation-tool/",
              "publisher": {
                "@type": "Organization",
                "name": "Yonathan Gonçalves"
              }
            },
            {
              "@type": "Article",
              "headline": "Memory Game",
              "author": {
                "@type": "Person",
                "name": "Yonathan Gonçalves",
                "url": "https://yonathangoncalves.com"
              },
              "datePublished": "2025-03-01T11:48:00+00:00",
              "dateModified": "2025-03-01T11:48:00+00:00",
              "image": "https://yonathangoncalves.com/static/assets/images/memory_game.webp",
              "url": "https://yonathangoncalves.com/projects/memory-game/",
              "publisher": {
                "@type": "Organization",
                "name": "Yonathan Gonçalves"
              }
            }
          ]
        }
        </script>
        
        
        
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'assets/images/atom.png' %}" type="image/x-icon">

    <title>{% block title %}Yonathan Gonçalves - Web Developer{% endblock %}</title>

</head>

<body>
    <header id="site-header">
        <nav class="nav container" aria-label="Main navigation">
            <a href="{% url 'index' %}" class="nav-logo"><img src="{% static 'assets/images/atom.png' %}" alt="Yonathan Gonçalves Portfolio - Logo">Yonathan Gonçalves</a>

            <div class="menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="{% url 'projects' %}" class="nav-link">{% trans "Projects" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'aboutme' %}" class="nav-link">{% trans "About Me" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="#container_contactme" class="nav-link">{% trans "Contact Me" %}</a>
                    </li>
                </ul>

                <!--Close button-->
                <i class="nav-close ri-close-line" id="nav-close" aria-label="Close menu"></i>
            </div>

            <div class="nav-actions">
                <!--Language button-->
                <div class="nav-language" id="language-btn" aria-label="Select language">{{ LANGUAGE_CODE|upper }}</div>
                <div class="language-options" id="language-options">
                    <div class="language-option" data-lang="en">EN</div>
                    <div class="language-option" data-lang="fr">FR</div>
                    <div class="language-option" data-lang="pt">PT</div>
                    <div class="language-option" data-lang="es">ES</div>
                </div>


                <!--Dark Mode button-->
                <i class="ri-moon-line nav-darkmode" id="darkmode-btn" aria-label="Toggle dark mode"></i>

                <!-- Toggle button -->
                <i class="nav-toggle ri-menu-line" id="nav-toggle" aria-label="Open main menu"></i>
            </div>
        </nav>
    </header>
    <main>
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
        {% block content %}

        {% endblock %}
        <div class="container" id="container_contactme">
            <div class="form">
                <div class="contact_info">
                    <h3 class="title">{% blocktrans %}Let's get in touch{% endblocktrans %}</h3>
        
                    <p class="info_text">{% blocktrans %}Thank you for taking the time to review my portfolio. If you are interested in
                        collaborating or would like more information about my experience and skills, please feel free to
                        get in touch. I would be delighted to discuss how I can add value to your team or project.{% endblocktrans %}</p>
        
                    <div class="info_container">
                        <div class="information_item">
                            <i class="ri-map-pin-line info_icon"></i>
                            <p>{% blocktrans %}Lisbon, Portugal{% endblocktrans %}</p>
                        </div>
                        <div class="information_item">
                            <i class="ri-mail-line info_icon"></i>
                            <p id="email">ygoncalves5@gmail.com</p>
                            <i class="ri-checkbox-multiple-blank-line copy_icon" id="copy_icon" onclick="copyEmail()" aria-label="Copy email address" role="button"></i>
                        </div>
                        <div class="information_item">
                            <i class="ri-phone-line info_icon"></i>
                            <p>+351 915 791 307</p>
                        </div>
                    </div>
                </div>
        
        
        
                <div class="contact_form">
                    <form method="post" action="{% url 'send_email' %}">
                        <h3 class="contact_title">{% blocktrans %}Contact me{% endblocktrans %}</h3>
                        {% csrf_token %}
                
                        <div class="container_input">
                            <input type="text" name="name" class="input" required aria-labelledby="id_name">
                            <label for="id_name">{% blocktrans %}Name{% endblocktrans %}</label>
                            <span>{% blocktrans %}Name{% endblocktrans %}</span>
                        </div>
                
                        <div class="container_input">
                            <input type="email" name="email" class="input" required aria-labelledby="id_email">
                            <label for="id_email">{% blocktrans %}Email{% endblocktrans %}</label>
                            <span>{% blocktrans %}Email{% endblocktrans %}</span>
                        </div>
                
                        <div class="container_input textarea">
                            <textarea name="message" class="input" required aria-labelledby="id_message"></textarea>
                            <label for="id_message">{% blocktrans %}Message{% endblocktrans %}</label>
                            <span>{% blocktrans %}Message{% endblocktrans %}</span>
                        </div>
                
                        <input type="submit" value="{% blocktrans %}Send{% endblocktrans %}" class="btn">
                    </form>
                </div>
                
                
                  
                
        
        </div>
    </main>
    <footer class="container">
        <a href="#" class="footer-logo"><img src="{% static 'assets/images/atom.png' %}" alt="Yonathan Gonçalves Portfolio - Logo"></a>
        <div id="footer_links">
            <ul id="footer_links_list">
                <li>
                    <a href="https://github.com/YonaGonca" class="footer_link" aria-label="Visit my GitHub profile">GitHub <i class="ri-github-fill"></i> </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/yonathan-goncalves-4715861b8/" class="footer_link" aria-label="Visit my LinkedIn profile">LinkedIn <i class="ri-linkedin-fill"></i></i></a>
                </li>
            </ul>
        </div>
    </footer>


    <!--JavaScript-->
    
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>