{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block title %}Yonathan Gonçalves | {% trans "Projects" %}{% endblock %}


{% block content %}

<div class="container" id="container_projects">
    <div id="projects_header">
        <h4 class="projects_title">{% blocktrans %}Projects{% endblocktrans %}</h4>

    </div>
    <div id="projects">
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="project" id="project_1">
            <div id="project_title">
                yonathangoncalves.com
            </div>
            <div id="project_image">
                <img class="project_image_change" 
                src="{% if dark_mode == 'enabled' %}{% static 'assets/images/portfolio_dark.png' %}{% else %}{% static 'assets/images/portfolio.png' %}{% endif %}" 
                data-light="{% static 'assets/images/portfolio.png' %}" 
                data-dark="{% static 'assets/images/portfolio_dark.png' %}" 
                alt="Imagen">             </div>
            <div id="project_description">
                {% blocktrans %}The source of this website.{% endblocktrans %}
            </div>
            <div id="project_links">
                <ul id="project_links_list">
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Article{% endblocktrans %}</a>
                    </li>
                    <li>
                        <a href="#" class="project_link">{% blocktrans %}Source{% endblocktrans %} <i class="ri-external-link-line"></i></a>
                    </li>
                    <li>
                        <a href="#" class="project_link">Demo <i class="ri-external-link-line"></i> </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
</div>
{% endblock %}